/* browserupgrade*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'Roboto', sans-serif;
}

.container{
    min-width: 320px;
    max-width: 980px;
}

a:hover, a:focus{
    text-decoration: none;
}

/* Utils */
.padding0{padding:0;}
.margin0{margin:0;}
.margin-20{margin:20px 0;}
.margin-40{margin:40px 0;}
.margin-40-t{margin:40px 0 0 0;}
.margin-20-last{margin:20px 0;}
.margin-15{margin:15px 0;}
.margin-10{margin:10px 0;}
.margin-l-20{margin-left:20px}
.margin-l-15{margin-left:15px}
.margin-l-10{margin-left:10px}
.margin-r-20{margin-right:20px}
.margin-r-15{margin-right:15px}
.margin-r-10{margin-right:10px}
.p0-right{padding-right:0;}
.p0-left{padding-left:0;}
.row.equal [class*="col-"]>* {margin-bottom: -99999px;padding-bottom: 99999px;}
.row.equal {overflow: hidden;}
.center{display: table;margin: 0 auto;}
.opacity-65{opacity: 0.65;}
.opacity-30{opacity: 0.30;}
.padding-section-20{padding: 20px 0;}
.padding-section-15{padding: 15px 0;}
.padding-section-10{padding: 10px 0;}
.padding-20{padding: 20px;}
.padding-15{padding: 15px;}
.padding-10{padding: 10px;}
.margin-r-20-btn{margin-right:20px}
@media (max-width: 767px) {
  .margin-r-20-btn{margin-right:0}
  .margin-20-last{margin:0;}
}

/* Brand */
.font-brand{
    font-family: 'Pacifico';
}

/* Material */
.material-shadow{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.modal-dialog{
    background: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}

.modal-body p{
    font-size: 12px;
}

/* Parallax */
.parallax-bg{
    background-attachment: fixed;
}
.parallax-shadow{
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

/* Arrow */
.wrap {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.arrow {
  position: relative;;
  bottom: 0;
  width: 100%;
  padding-bottom:3%;
  background-color: rgba(255, 255, 255, 1);
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(60deg);
  -webkit-transform: skewX(60deg);
  transform: skewX(60deg);
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-60deg);
  -webkit-transform: skewX(-60deg);
  transform: skewX(-60deg);
}


/* Background adjusts */
.bg-pos-x-25{background-position: 25% 0 !important;}
.bg-pos-x-50{background-position: 50% 0 !important;}
.bg-pos-x-75{background-position: 75% 0 !important;}
.bg-pos-x-100{background-position: 100% 0 !important;}
.bg-pos-y-25{background-position: 0 25% !important;}
.bg-pos-y-50{background-position: 0 50% !important;}
.bg-pos-y-75{background-position: 0 75% !important;}
.bg-pos-y-100{background-position: 0 100% !important;}


/* Background Colors */
.bg-white{background-color: rgba(255,255,255,1) !important;}
.bg-black{background-color: rgba(0,0,0,1) !important;}
.bg-gray-1{background-color: #555 !important;}
.bg-blue-1{background-color: #37fff1 !important;}
.bg-blue-2{background-color: #39c5ff !important;}
.bg-blue-3{background-color: #3870ff !important;}
.bg-blue-4{background-color: #5544ff !important;}

/* Colors */
.color-white{color: #fff !important;}
.color-black{color: #000 !important;}
.color-gray-1{color: #555 !important;}
.color-blue-1{color: #37fff1 !important;}
.color-blue-2{color: #39c5ff !important;}
.color-blue-3{color: #3870ff !important;}
.color-blue-4{color: #5544ff !important;}

/* CTA */
.cta{
    text-align: center;
    margin: 60px 0 0 0;
}

.cta a{
    max-width: 240px;
    padding: 20px 40px;
    background: #fff;
    color: #7FCC82;
    text-transform: uppercase;
}

.cta a:hover, .cta a:focus{
    text-decoration: none;
    color: #fff;
    background: #555;
    transition: all 1s ease;
}

/**
 * headroom
 */
.headroom {
    transition: transform 500ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    background-color: #fff !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    color: #000;
}

.headroom--unpinned {
    transform: translateY(-100%);
    background-color: #fff !important;
    color: #000;
}

.headroom--pinned.navbar .navbar-brand, .headroom--unpinned.navbar .navbar-brand {
    color: #000;
}

.headroom--top{
  background-color: rgba(0,0,0,0) !important;
  box-shadow: none !important;
  color: #fff !important;
}

.headroom--top.navbar .navbar-brand{
    color: #fff;
}

@media (max-width:767px) {
  .headroom--pinned-mobile{
    transform: translateY(0%);
    background-color: #fff !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .headroom--top{
    background-color: rgba(0,0,0,0) !important;
    box-shadow: none !important;
  }
}

/* Navbar */
/* Navigation */
.navbar{
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar .navbar-brand{
    font-family: 'Pacifico';
    padding: 0;
    height: auto;
    height: 50px;
    padding: 10px 15px;
    color: #fff;
}

.navbar, .navbar.navbar-default{
    background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle{
  border: none;
  color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-nav li > a.active, .navbar-default .navbar-nav li > a.active:hover, .navbar-default .navbar-nav li > a.active:focus{
    color: #fff;
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
}

@media (min-width: 768px){

    .navbar-nav > li > a {
        padding: 25px 20px;
    }
}

@media (max-width: 767px) {

    .navbar-brand img{
      max-width: 150px;
    }

    .navbar .navbar-container{
        height: auto;
    }

    .navbar-nav > li > a {
        padding: 10px;
    }

}

/* Header */
.header{
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
}
.page-header .carousel .carousel-indicators {
  bottom: 60px;
}
.page-header .container {
  padding-top: 30vh;
  color: #FFFFFF;
}
.page-header .title {
  color: #FFFFFF;
  font-size: 80px;
}
.page-header.header-small {
  height: 65vh;
}
.page-header.header-small .container {
  padding-top: 20vh;
}

.header-filter {
  position: relative;
}
.header-filter:before, .header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.header-filter::before {
  background-color: rgba(0, 0, 0, 0.25);
}
.header-filter .container {
  z-index: 2;
  position: relative;
}
.header-filter[filter-color="purple"]:after, .header-filter[filter-color="primary"]:after {
  background: rgba(225, 190, 231, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="blue"]:after, .header-filter[filter-color="info"]:after {
  background: rgba(178, 235, 242, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="green"]:after, .header-filter[filter-color="success"]:after {
  background: rgba(165, 214, 167, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="orange"]:after, .header-filter[filter-color="warning"]:after {
  background: rgba(255, 224, 178, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="red"]:after, .header-filter[filter-color="danger"]:after {
  background: rgba(239, 154, 154, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="rose"]:after {
  background: rgba(248, 187, 208, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* Standard syntax */
}

.clear-filter:before {
  display: none;
}

/* Carousel */
.carousel .carousel-control.left, .carousel .carousel-control.right {
  background-image: none;
}
.carousel .carousel-control.right i {
  right: 25px;
}
.carousel .item {
  text-align: center;
}
.carousel.carousel-full-nagivation .carousel-control {
  width: 50%;
}
.carousel.carousel-full-nagivation .carousel-control.left, .carousel.carousel-full-nagivation .carousel-control.right {
  background-image: none;
}
.carousel.carousel-full-nagivation .carousel-control .material-icons,
.carousel.carousel-full-nagivation .carousel-control .fa {
  display: none;
}
.carousel.carousel-full-nagivation .left {
  cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important;
}
.carousel.carousel-full-nagivation .right {
  cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important;
}
.carousel .carousel-control.left {
  left: 25px;
}
.carousel .carousel-control.right {
  left: auto;
}
.carousel .carousel-control .material-icons {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  margin-top: -15px;
}
.carousel .carousel-indicators {
  bottom: 5px;
}
.carousel .carousel-indicators li,
.carousel .carousel-indicators .active {
  margin: 11px 10px;
}
.carousel .carousel-indicators li {
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.carousel .carousel-indicators .active {
  margin-top: 10px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.carousel .carousel-caption {
  padding-bottom: 45px;
}
.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}


/* Section */
.section{
    padding: 80px 0;
}

/* Full */
.section.full{
    padding: 0;
}

.section.full .display{
    height: 450px;
    background-size: cover;
}

.section.full .content{
    padding: 80px 40px;
}



/* footer */
footer {
    padding: 40px 0;
}
